* {
    margin: 0;
    padding: 0;
}

body {
background-color: darkgreen;
}

.intro {
text-align: center;
color: white;
font-size: 40px;
}

.buttons {
display: flex;
flex-direction: row;
justify-content: space-around;
margin: 40px 0;
}

.buttons > * {
  width: 100px;
  height: 50px;

}

.main {
  display: flex;

}

.container {
  width: 50%;
  margin-left: 50px;
}

.dealer {
  width: 50%;
  margin-left: 50px;
}

.card {
    padding: 16px;
    text-align: center;
    height: 230px;
    background-color: transparent;
    background-image: url("images/playing-card.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }


  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  .row {
    margin: 10px 5px;
  }

