/** Properties for the whole page **/

* {
    margin: 0;
    padding: 0;
}

body {
background-color: #59886b;
font-family: 'Playfair Display', serif;
}

/** Properties for the images **/

.image1 {
  position: absolute;
  width: 5%;
left: 60px;
top: 50px;
transform: rotate(20deg);
}

.image7 {
  position: absolute;
  width: 5%;
left: 20px;
bottom: -10px;
transform: rotate(-20deg);
}


.image5 {
  position: absolute;
  width: 5%;
right: 180px;
bottom: 10px;
transform: rotate(20deg);
}

.image6 {
  position: absolute;
  width: 5%;
left: 80px;
top: 350px;
transform: rotate(20deg);
}

.image2 {
  position: absolute;
  width: 5%;
right: 60px;
top: 50px;
}

.image8 {
  position: absolute;
  width: 5%;
right: 60px;
top: 350px;
transform: rotate(-10deg);

}



/** Properties for the text in the middle **/

.intro {
text-align: center;
color: white;
font-size: 20px;
margin-bottom: 50px;
}

.intro > p {
  font-style: italic;
  font-size: 18px;
}


text {
  fill:white;
  font-size: 15px;
}

/** Properties for the buttons on the bottom **/

.buttons {
display: flex;
flex-direction: row;
justify-content: center;
margin: 40px 0;
border: transparent;
}

.blue {
  width: 80px;
  height: 80px;
  background-image: url("images/blueChip.png");
  background-size: contain;
  background-repeat: no-repeat;
background-color: transparent;
border: transparent;
margin-right: 10px;
color: white;
cursor: pointer;


}

.red {
  width: 80px;
  height: 80px;
background-image: url("images/redChip.png");
background-size: contain;
background-repeat: no-repeat;
background-color: transparent;
border: transparent;
color: white;
cursor: pointer;



}

.black {
  width: 80px;
  height: 80px;
background-image: url("images/blackChip.png");
background-size: contain;
background-repeat: no-repeat;
background-color: transparent;
border: transparent;
margin-left: 10px;
color: white;
cursor: pointer;

}



/** Shared properties for all cards **/ 
.card {
  padding: 60px;
  text-align: center;
  background-color: transparent;
  background-image: url("images/playing-card.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}


.column{
  float: left;
  padding: 10px 5px;
}

.row {
  margin: 10px 5px;
}


/** Properties for the players cards **/


.main {
  display: flex;
  justify-content: space-between;
}


.container-left {
  margin-left: 150px;
}

.container-right {
  margin-right: 150px;
}


/** Properties for the dealer cards **/ 

.dealer {
  display: flex;
  justify-content: center;
  margin: 15px auto 0;
}



/** Properties for footer text **/


  footer {
    text-align: center;
    color: white;
    font-size: 10px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  /* Media Queries */

@media (max-width: 575.98px) {

  .card {
    padding: 10px 5px;
  }

  
  
  }
  
  
  @media (max-width: 767.98px) {

    .card {
      padding: 60px 20px;
    }
  
 
  
  }


  @media (max-width: 1100px) {
  
    .container-left {
      margin-left: 20px;
    }
    
    .container-right {
      margin-right: 20px;
    }

    .card {
      padding: 60px 50px;
    }
  
  }